
<div class="center">
    <div class="border border-secondary p-5 w-5">
    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Monthly Salary</label>
          <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
    
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Organization</label>
          <input type="number" class="form-control number" id="exampleInputPassword1">
        </div>
    
        <div>&nbsp;</div>
        <div class="d-flex justify-content-center align-items-center">
          <button type="submit"  routerLink="/loa-det" class="btn btn-dark btn-m mb-1 broden">Next</button>       
         </div>
      </form>
    </div>
    </div>


<!-- <p>inc-det works!</p> -->
