<!DOCTYPE html>
<html>

<!-- <style>
    table,
    th,
    td {
        border: 1px solid black;
    }
</style> -->


<body>
    <div id="">
        <h4>Loan Application Status</h4>

    </div>
    <div>
        <table class="table table-striped">
    <thead>
                <tr>
                    <th>Application Id</th>
                    <th>User Id</th>
                    <th>Application Status</th>

                </tr>
            </thead>

            <tbody>
                <tr>


                </tr>
            </tbody>
        </table>

    </div>
</body>


<!-- <p>adm-das works!</p> -->